.course-videos-page {
    padding: 20px;
    text-align: center;
}

.videos-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.video-item {
    max-width: 300px; /* Postavite maksimalnu širinu kartice */
    margin: 0 auto;   /* Centrirajte karticu */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.video-embed {
    position: relative;
    padding-bottom: 56.25%; /* Omjer 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 8px;
}

.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.video-link:hover {
    text-decoration: underline;
}